<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_TWPOI" connectionString="Server=localhost;Port=5432;User Id=twuser;Password=twpassword;Database=tw_poi;"/>
  </connectionStrings>
  <appSettings>
    <add key="URL_Hospital" value="http://www.mohw.gov.tw/MOHW_Upload/doc/opendata/醫院基本資料.csv"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>